{% extends 'layout.html' %}

{% block title %}
Annotator
{% endblock title %}

{% block main %}
<!-- styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='annotorious/annotorious.min.css') }}">
<link rel="stylesheet" href="{{ url_for('annotator.static', filename='style.css')}}">

<!-- osd -->
<div id="openseadragon" data-urls='{{ urls|tojson }}' />

<!-- button interface -->
<div class="buttons position-absolute end-0 d-flex flex-column">
    <button id="discard" type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#discardModal">Discard All</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#helpModal">Help</button>
</div>

<!-- modals -->
<div class="modal fade" id="discardModal" tabindex="-1" aria-labelledby="discardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="discardModalLabel">Discard Annotations?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to discard <b>ALL</b> annotations?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="discardConfirm" type="button" class="btn btn-danger">Discard</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Help</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                TODO
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- js -->
<script src="{{ url_for('static', filename='openseadragon/openseadragon.min.js') }}"></script>
<script src="{{ url_for('static', filename='annotorious/openseadragon-annotorious.min.js') }}"></script>
<script src="{{ url_for('annotator.static', filename='annotator-client.js')}}"></script>
{% endblock main %}