#overlay {
    pointer-events: none;
    background-color: #00000080;
    z-index: 100000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
}

#openseadragon {
    height: 100vh;
    background-color: gray;
}

.buttons {
    z-index: 9999;
}

.btn {
    margin: 5px;
}

#filename {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: .25rem;
    margin: 0;
    background-color: #00000080;
    color: white;
}